.stopkids {
    cursor: default;
    height: 41px;
    position: fixed;
    width: 43px;
	text-decoration:none !important;
}
.stopkids .tip {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 5px #333333;
    cursor: default;
    display: none;
    font-size: 17px;
    font-weight: bold;
    min-height: 85px;
    padding: 15px !important;
    position: absolute;
    text-align: center !important;
    text-shadow: 0 1px 0 #333333;
    width: 302px;
}
.stopkids:hover .tip {
    display: block;
}
.stopkids:hover {
	background: transparent;
}